#panelLista {
    width: 60%;
}

.ui-panel-inner {
    padding: 0;
}

.titulo {
    color: rgb(194, 194, 194);
    font-size: 24px;
    background-color: rgb(1, 72, 95);
    margin: 0;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.ui-content {
    margin: 100px auto;
    text-align: center;
}

#logoEmisoraSonando {
    border-radius: 5px;
}

#tituloEmisoraSonando {
    margin-top: 30px;
    color: rgb(49, 240, 49);
    font-size: 24px;
}

#botonPausa {
    margin: 120px auto;
    width: 40%;
    background-color: rgb(4, 128, 165);
}
